<% provide :title, t("admin.users.all_users") %>
<h1><%= t "admin.users.all_users" %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t "admin.users.id" %></th>
      <th><%= t "admin.users.name" %></th>
      <th><%= t "admin.users.email" %></th>
      <th><%= t "admin.users.action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index 1 do |user, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td>
          <% unless current_user.current_user? user %>
            <%= link_to t("controllers.admin.delete"), [:admin, user], method: :delete,
              data: {confirm: t("controllers.admin.sure")} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
